/*
 * Globals
 */

 /*Fonts*/

@font-face {
  font-family: 'Unrealised';
  src: url('../fonts/Unrealised.eot');
  src: url('../fonts/Unrealised.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Unrealised.woff') format('woff'),
    url('../fonts/Unrealised.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'OptimusPrinceps';
  src: url('../fonts/OptimusPrinceps.eot');
  src: url('../fonts/OptimusPrinceps.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OptimusPrinceps.woff') format('woff'),
    url('../fonts/OptimusPrinceps.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}




/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

nav li { cursor: pointer; cursor: hand; }

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

h6 {
  text-align: center;
  font-family: Unrealised;
  text-transform: uppercase;
  font-size: 45px;
  color: #fff;
}

h5 {
  text-align: center;
  font-family: OptimusPrinceps;
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
}

html,
body {
  height: 100%;
  background-color: #40311C;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background: url(../img/bg_test.jpg) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

li {
  font-size: 17px;
  list-style: none;
}

img {
  cursor: pointer;
}


.icon {
  width: 35%;
}

.matchmaking-button {
  width: 60%;
}

.menu {
  margin-top: 0;
  padding-top: 0;
  width: 20%;
}

.deck_container {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.deck {
  width: 62%;
  cursor: pointer;
}

.deck_name {
  text-align: center;
  width: 100%;
  font-size: 18px;
  position: absolute;
  top:0;
  left: 0;
  z-index: 2;
  padding-top: 65%;
  cursor: pointer;
}

.deck_buttons {
  width: 50%;
}

/* SCROLL BAR */

.scroll {
  max-height: 70%;
  overflow: hidden;
  overflow-y: auto;

}

.scroll_decks {
  max-height: 55%;
  overflow: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar              
{
    width: 12px;
    background-color: rgba(0,0,0,0.0);
}

::-webkit-scrollbar-button       { /* 2 */ }
::-webkit-scrollbar-track        { /* 3 */ }
::-webkit-scrollbar-track-piece  { /* 4 */ }
::-webkit-scrollbar-thumb        { background-color: #555; border-radius: 10px; }
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }


/* ------------------- */


.test1 {
  border : 5px solid yellow;
}

.test2 {
  border : 5px solid red;
}



.list_players {
  border: 5px solid;
  border-color: #434746;
  border-style: ridge;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background: url(../img/players.png);
  background-size: cover;
  margin: 3%;
  height: 60vh;
}

.list_requests {
  border: 5px solid;
  border-color: #434746;
  border-style: ridge;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background: url(../img/requests.png);
  background-size: cover;
  margin: 3%;
  height: 60vh;
  /*width: 100vh;*/
}

.card_container {
  width:80%;
  position: relative;
}


.card_making {
  width: 100%;
  z-index:2;
  position: relative;
  /*height: 50%;*/
}

.card_making_champ {
  width: 100%;
  position: absolute;
  padding: 13px;
  top: 0;
  left: 0;
  z-index:1;
  /*height: 50%;*/
}

.champ_name {
  text-align: center;
  width: 100%;
  font-size: 20px;
  position: absolute;
  top:0;
  left: 0;
  z-index: 2;
  padding-top: 54%;
}

.champ_title {
  text-align: center;
  width: 100%;
  font-size: 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: 2;
  padding-top: 85%;
}


.attack {
  /*width: 100%;*/
  /*text-shadow: -1px 0 white,0 1px white,1px 0 white,0 -1px white;*/
  /*background: rgb(54, 25, 25);  Fall-back for browsers that don't
                                    support rgba 
  background: rgba(54, 25, 25, .6);*/
  text-shadow: -1px 0 black,0 1px black,1px 0 black,0 -1px black;
  font-size: 20px;
  position: absolute;
  bottom:10%;
  left: 5%;
  z-index: 2;
  /*padding-top: 58%;*/
}

.defense {
  /*width: 100%;*/
  text-shadow: -1px 0 black,0 1px black,1px 0 black,0 -1px black;
  /*background: rgb(54, 25, 25);  Fall-back for browsers that don't
                                    support rgba 
  background: rgba(54, 25, 25, .6);*/
  font-size: 20px;
  position: absolute;
  bottom:10%;
  right: 5%;
  z-index: 2;
  /*padding-top: 58%;*/
}

.end_img {
  width: 95%;
}

.endgame {
  border: 5px solid;
  border-color: #434746;
  border-style: ridge;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background: url(../img/requests.png);
  background-size: cover;
  margin-top: 5%;
  height: 70vh;
  /*width: 100vh;*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 88%; /* For at least Firefox */
  min-height: 88%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 0px;
}

.bandeau{
  padding: 0;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

/* ----- CONNEXION / INSCRIPTION ------ */

@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  /*opacity: 0.9;*/
  padding: 30px;
  max-width: 75%;
  /*width: 100% !important;*/
  background-color: #41454E;
  margin: 0 auto;
  margin-top: 25%;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
  background: url(../img/requests.png);
  background-size: contain;
  background-size: 75%;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background-color: #fff;
  color: black;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #445E53;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #445E53;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #282C37;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

/****** END OF LOGIN MODAL ******/


/****** FLIPPING CARDS ******/

.container{
    width:25%;
    /*height:29%;*/
    position: relative;
    /*margin-left: 5px;*/
}

.container_end{
    width:40%;
    position: relative;
    margin-left: 27%;
}

.card{
    display:table-cell;
    text-align:center;
    position: absolute;
    width: 100%;
    height: 50%;
    cursor: pointer;
}

.face {
    position: absolute;
    width: 100%;
    height: 50%;
}
.face.front{
    background:#000;
}
.face.back {
    background-color: #000;
}

.container{
    perspective: 800px;
}
.card{
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}
.card.active .front {   /*or .card:hover .front  */
    transform: rotateY(-180deg);
}

.card.active .back {
    transform: rotateY(0deg);
}
.face {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.face.front {
    transform: rotateY(0deg);
}

.face.back {
    transform: rotateY(180deg);
}

/****** END OF FLIPPING CARDS ******/
