
.carte {
	position: absolute;
	perspective: 800px;
	transform-style: preserve-3d;
	width: 8%;
	will-change: transform;	
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;	
}


.cardplayed {
	position: relative;
	background-image:url('../img/bord-jeton.jpg');
	height:80%;
	border-radius: 15%;
	border: 1px solid black;
	padding:0;
}


.card-image {
	display: block;
	pointer-events: none;
	transform-style: preserve-3d;
	width:100%;
	will-change: transform;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}


.cardplayed-image {
	width:100%;	
	height:100%;
	padding:5%;
	display: block;
	pointer-events: none;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	 border-radius: 15%;

}

.data-attack{
	display: block;
	pointer-events: none;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.board{
	top:32%;
	position:absolute;
	margin-left: 1%;
	width:87%;
	height: 50%;
	background-image:url("../img/board-fond.PNG");
	background-size:cover;
	border-radius:10%;
	background-repeat: no-repeat;
	border: 1px solid black;

}


.terrain{
	height:50%;

}

.deckGame{
	left: 90%;
	z-index:1;
	position: absolute;
	width: 	7%;
	height: 20%;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;	
}


.decknumber{
	position:absolute;
	color:red;
	font-size: 5vh;
	text-align: center;;
	width:100%;
	top:40%;
	opacity: 0;
	z-index:2;

}

.hp{
	position:absolute;
	color:white;
	font-size: 3vh;
	text-align: center;;
	width:100%;
	top:70%;
	
	z-index:2;


}
.deck-image {
	display: block;
	pointer-events: none;
	transform-style: preserve-3d;
	width: 100%;
	will-change: transform;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}



.actionTurn{
	left:90%;
	top: 56%;
	z-index:1;
	position: absolute;
	width: 	7%;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;	

}

.mainAdverse{
	height: 8%;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;	
}


.adversecard{
	width:100%;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;	

}