html,
body {
	height: 100%;	
}

body {
	background: #000;
	cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-cursor.png) 10 2, auto;
	overflow: hidden;
	&:active {
		cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-click.png) 10 2, auto;
	}
	&:after {
		background-color: #000;
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-battlefield.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		bottom: 0;
		content: '';
		filter: blur( 8px );
		left: 0;
		opacity: 0.8;
		position: absolute;
		right: 0;
		top: 0;
		will-change: transform;	
		z-index: -1;
	}
}

.card {
	position: absolute;
	top: 30%;
	perspective: 200px;
	transform-style: preserve-3d;
	width:5%;
	will-change: transform;	
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;	
}


.cardplayed {
	position: relative;
	background-image:url('../img/bord-jeton.jpg');
	height:80%;
	border-radius: 50%;
	border: 1px solid black;
	padding:0;
}


.card-image {
	display: block;
	pointer-events: none;
	transform-style: preserve-3d;
	width:100%;
	will-change: transform;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}


.cardplayed-image {
	width:100%;	
	padding:10%;
	display: block;
	pointer-events: none;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	 border-radius: 50%;

}

.plateauJeu{
	background-image: url("../img/derriere.jpg");
	background-size:cover;
	height:100%;
}

.board{
	top:25%;
	position:absolute;
	margin-left: 1%;
	width:87%;
	height: 50%;
	background-image:url("../img/board-fond.PNG");
	background-size:cover;
	border-radius:10%;
	background-repeat: no-repeat;
	border: 1px solid black;

}


.terrain{
	height:50%;

}

.deck{
	left: 90%;
	z-index:1;
	position: absolute;
	width: 	7%;
	height: 20%;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;	
}


.decknumber{
	position:absolute;
	color:red;
	font-size: 5vh;
	text-align: center;;
	width:100%;
	top:40%;
	opacity: 0;
	z-index:2;

}


.deck-image {
	display: block;
	pointer-events: none;
	transform-style: preserve-3d;
	width: 100%;
	will-change: transform;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}



.mainAdverse{
	height: 10%;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;	
}



.adversecard{
	width:100%;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;	

}