<div>

        <div class="mainAdverse row">

          <div class="col-md-1 col-xs-0"></div>
          <div class="cardAverse col-md-1 col-xs-2 " ng-repeat="i in getNumber(carteAdverse) track by $index">
            <img src="img/dos_carte.png" class="adversecard" >
          </div>
        </div>

        <div class="board" >
          <div class= "row terrain">
            <div class="cardplayed col-md-1 col-md-offset-1 col-xs-1 col-xs-offset-1" ng-repeat ="card in ennemyBattlefield track by $index">
              <img src="{{card.img}}" class="cardplayed-image"  draggable="false" id="{{card.id}}" >
              <button class="btn btn-default btn-xs btn-block" ng-if='mainPlayerAction' basic-click='attack(card)'>attack</button>
            </div>
          </div>


          <div class= "row terrain">
            <div class="cardplayed col-md-1 col-md-offset-1 col-xs-1 col-xs-offset-1" ng-repeat ="card in ourBattlefield track by $index" basic-click='cardActivate(card,$event)'>
              <img src="{{card.img}}" class="cardplayed-image"  draggable="false" id="{{card.id}}" >
            </div>
          </div>


        </div>


        <div class="deck" ng-repeat= "deck in decks" id={{deck.id}} style="top:{{deck.top}}%;" >
          <img src="{{deck.img}}" class="deck-image"  draggable="false" >
          <div class='decknumber' deck>
          <center><b>{{deck.cardleft}}</b></center>
          </div> 

        </div>

      



        <!-- ici on a la main-->
        <div ng-controller ="hand" class='row hand'>

          <div class="card" ng-repeat= "  card in playablecard track by card.id" id="{{card.id}}" carte index="{{$index}}">
            <img src="{{card.img}}" class="card-image"  draggable="false">
          </div>

        </div>

</div>