<div class="card_container">
	<img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{carte.key}}_0.jpg" class="card_making_champ">
	<img src="img/card_template.png" class="card_making">
	<div class="champ_name">{{carte.name}} </div>
	<div class="champ_title">{{carte.title}} </div>
	<div class="attack">{{carte.stats.attackdamage | number:0}} </div>
	<div class="defense">{{carte.stats.armor | number:0}}</div>
</div> 

