<img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{img.key}}_0.jpg" class="cardplayed-image" draggable="false" id="{{img.id}}" >
<div class="attack data-attack">{{img.stats.attackdamage | number:0}} </div>
<div class="defense data-attack">{{img.stats.armor | number:0}}</div>