<!-- THIS PAGE AIN'T FINISHED AT ALL -->

<div>
	<div ng-if="choose_deck" class="list-group scroll_decks">
		<h6> Avec quel deck voulez-vous jouer ?</h6>
		<div ng-repeat="deck in decks" ng-click="selectDeck(deck);" class="col-xs-3">
			<img src="img/deck_template.png" class="deck">
            <div class="deck_name"> {{deck.name}} </div>
		</div>
	</div>

	<div ng-if="wait"> <!-- that should be a directive -->
		<p> La partie commencera dès que votre adversaire aura également choisi son deck !</p>
	</div>
	<div ng-if="!wait" class="plateauJeu">
		<div ng-if="!wait" playing-game></div>
	</div>
</div>