<link rel="stylesheet" type="text/css" href="css/decks.css" media="all" />

<div id="master-details-decks" class="container-fluid" ng-controller='decks'>

    <div class="row">
        <h6>Editer vos decks</h6>
    </div>

    <div class="row">
        <div id ="details-decks" class="col-sm-10 col-xs-8 list-group  scroll_decks">  <!-- style="max-height: 300px"> -->
            <div ng-repeat="card in selectedDeck['cards']" class="col-md-2 col-sm-3 col-xs-6" ng-click="removeCardFromDeck(card);">
                <card carte="card"></card>
            </div>
        </div>
        <div id="master-decks" class="col-sm-2 col-xs-4 list-group scroll_decks">
            <h5> Liste de vos decks </h5>
            <div ng-repeat="deck in decks" ng-click="selectDeck(deck);" class="deck_container">
                <img src="img/deck_template.png" class="deck">
                <div class="deck_name"> {{deck.name}} </div>
                <div class="span4 pull-right corner-right">
                    <button type="button" class="close" ng-click="mgr.remove(deck);console.log(decks);" data-toggle="tooltip" title="Supprimer le deck">X</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
          <div class="container col-xs-4 col-xs-offset-3">
            <div class="card" ng-class="{active: show_card}" >
                  <div class="face back">
                    <img ng-src="img/new_deck.png" class="img-responsive deck_buttons" ng-click="createANewDeck();"/>
                  </div>

                  <div class="face front">
                      <img src='img/card_back.png' class="img-responsive deck_buttons" />
                  </div>
              </div>
          </div>

          <div class="container col-xs-4">
            <div class="card" ng-class="{active: show_card}" >
                  <div class="face back">
                      <img src='img/edit_deck.png' class="img-responsive deck_buttons" ng-click="editOrSave();show=!show" ng-if="action == 'Edit'" />
                      <img src='img/save_deck.png' class="img-responsive deck_buttons" ng-click="editOrSave();show=!show" ng-if="action == 'Save'" />
                  </div>

                  <div class="face front">
                      <img src='img/card_back.png' class="img-responsive deck_buttons" />
                  </div>
              </div>
          </div>
    </div>
    
    </br>
    <div class="row" ng-if="action == 'Save'">
        <label for="in_deck_name">Deck name:</label>
        <input id="in_deck_name" type="text" ng-model="selectedDeck['name']" style="color: black;"/>
    
        <h1>Cards</h1>
        <div ng-repeat="card in cardsNotInDeck" class="col-sm-2 col-xs-3" ng-click="addCardToDeck(card)";>
                <p>{{card.name}}</p>
        </div>
    </div>
</div>