<div>
	<h6> PARTIE TERMINEE ! </h6>
	<div class="row" ng-if="status == 'winner'">
		<div class="col-xs-4 col-xs-offset-1 endgame">
			<h5> Vous avez gagne !</h5>
			<p> Félicitations ! Clamez votre supériorité en rejouant une partie
			et en terrassant à nouveau vos ennemis...</p>

			<div class="container_end col-xs-4 col-xs-offset-2">
                <div class="card" ng-class="{active: show_card}" >
                      <div class="face back">
	                        <a href="#!/matchmaking"><img ng-src="img/rejouer.png" class="img-responsive" /></a>
                      </div>

                      <div class="face front">
                          <img src='img/card_back.png' class="img-responsive" />
                      </div>
	            </div>
			</div>
		</div>

		<div class="col-xs-6">
			<img src="img/winner.png" class="end_img">
		</div>
	</div>

	<div class="row" ng-if="status == 'loser'">
		<div class="col-xs-4 col-xs-offset-1 endgame">
			<h5> Vous avez perdu... </h5>
			<p> Ah, c'est ça de ne pas être doué. Mais on apprend de ses erreurs, 
			n'est-ce pas ? Allez, retentez une partie, et essayez de ne pas être aussi
			minable cette fois... </p>

			<div class="container_end col-xs-4 col-xs-offset-2">
                <div class="card" ng-class="{active: show_card}" >
                      <div class="face back">
	                        <a href="#!/matchmaking"><img ng-src="img/rejouer.png" class="img-responsive" /></a>
                      </div>

                      <div class="face front">
                          <img src='img/card_back.png' class="img-responsive" />
                      </div>
	              </div>
			</div>

		</div>
		<div class="col-xs-7">
			<img src="img/loser.png" class="end_img">
		</div>
	</div>
</div>

