<div>
	<div class="site-wrapper">
	    <div class="site-wrapper-inner">
	      <div class="cover-container">
	      	  <div class="inner cover">
      	  		<h6>  Bienvenue dans League Of Stones, {{user.name}} ! </h6>

	            <a href="#!/matchmaking"><img class="icon" src="img/play.png"></a>
	            <img class="icon" src="img/rules.png">
	            
	            <div class="row">
	            	<img src="img/logout.png" ng-click="connection.disconnect();" class="menu">
					<a href="#!/gameplay" data-toggle="modal" data-target="#delete-account-modal"> <img src="img/options.png" class="menu"></a>
	            </div>

			</div>
		  </div>
	  </div>
	</div>

	<div class="modal fade" id="delete-account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	    <div class="modal-dialog">
	      <div class="loginmodal-container">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h1>Supprimer son compte</h1><br>
	          <form>
	            <h3> E-mail : {{user.email}} </h3>
	            <input type="password" ng-model="user.pwd" placeholder="Mot de passe" required>
	            <input type="submit" name="login" class="login loginmodal-submit" value="Supprimer" ng-click="connection.delete_account();">
	          </form>
	      </div>
	    </div>
	</div>
</div>
