<div>  <!-- ng-style="matchmaking_style"> -->
	<div class="site-wrapper">
	    <div class="site-wrapper-inner">
	      <div class="cover-container">
	      	  <div class="inner cover">
				<h6>  Quel adversaire allez-vous terrasser aujourd'hui ? </h6>
			  </div>
		  </div>

		  <div class="row">
			<div class="col-md-5 list_requests">
				<h5> Liste des requêtes</h5>
				<p>Ici sont recensés tous les joueurs désirant vous affronter. Cliquez sur 'accepter' pour démarrer la partie contre le joueur concerné !</p>
				<ul ng-if="gamers_requests" class="list-group  scroll" id="style-1">
					<li ng-repeat="gamer in gamers_requests">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<br>
							 {{gamer.name}} 
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
							<img src="img/accept.png" ng-click="accept_request(gamer.matchmakingId)" class="matchmaking-button">
						</div>
					</li>
				</ul>

				<div ng-if="no_requests">
					<p> Nobody wants to play with u. Loser </p>
				</div>
			</div>

			<div class="col-md-5 list_players">
				<h5> Joueurs connectes </h5>
				<p>Ici sont recensés tous les joueurs disponibles pour une nouvelle partie. 
				Cliquez sur 'affronter' pour envoyer une demande de match au joueur concerné !</p>
				<ul ng-if="available_players" class="list-group  scroll" id="style-1">
					<li ng-repeat="player in available_players">
						<div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
							{{player.name}} 
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
							<img src="img/affronter.png" class="matchmaking-button" ng-click="send_request(player.matchmakingId)">
						</div>
					</li>
				</ul>

				<div ng-if="no_players">
					<p> Nobody's out there to play with u. They're avoiding u. Loser </p>
				</div>
			</div>
		</div>
	  </div>
	</div>
</div>