﻿<div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="#!/home">League of Stones</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li ng-class="{active: isActive('/home')}" data-toggle="collapse" data-target="#myNavbar"><a href="#">Accueil</a></li>
            <li ng-if="user.isConnected" ng-class="{active: isActive('/gameplay')}"> <!-- data-toggle="collapse" data-target="#myNavbar" --><a href="#!/gameplay">Gameplay</a></li>
            <li ng-if="user.isConnected" ng-class="{active: isActive('/decks')}"> <!-- data-toggle="collapse" data-target="#myNavbar" --><a href="#!/decks">Decks</a></li> 
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-if="!user.isConnected" data-toggle="collapse" data-target="#myNavbar"><a data-toggle="modal" data-target="#signup-modal"><span class="glyphicon glyphicon-user"></span> Inscription</a></li>
            <li ng-if="!user.isConnected" data-toggle="collapse" data-target="#myNavbar"><a data-toggle="modal" data-target="#signin-modal"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
            <li ng-if="user.isConnected" data-toggle="collapse" data-target="#myNavbar"><a><span class="glyphicon glyphicon-user"></span> {{user.name}}</a></li>
            <li ng-if="user.isConnected" data-toggle="collapse" data-target="#myNavbar"><a ng-click="connection.disconnect();"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
          <div class="loginmodal-container">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1>Connexion</h1><br>
              <form>
                <input type="text" ng-model="user.email" placeholder="E-mail" required>
                <input type="password" ng-model="user.pwd" placeholder="Mot de passe" required>
                <input type="submit" name="login" class="login loginmodal-submit" value="Se connecter" ng-click="connection.connect(user);">
              </form>
          </div>
        </div>
    </div>

    <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
          <div class="loginmodal-container">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1>S'inscrire à League Of Stones</h1><br>
              <form>
                <input type="text" ng-model="user.email" placeholder="E-mail" required>
                <input type="text" ng-model="user.pseudo" placeholder="Pseudo" required>
                <input type="password" ng-model="user.pwd" placeholder="Mot de passe" required>
                <input type="submit" name="login" class="login loginmodal-submit" value="S'inscrire" ng-click="connection.suscribe(user);">
              </form>
          </div>
        </div>
    </div>
</div>