<div>
    <div class="mainAdverse row">

        <div class="col-md-1 col-xs-0"></div>
            <div class="cardAverse col-md-1 col-xs-2 " ng-repeat="i in range(carteAdverse) track by $index">
                <img src="img/dos_carte.png" class="adversecard" >
            </div>
        </div>


        <div class="board" >
            <div class= "row terrain">
                <div class="cardplayed col-md-1 col-md-offset-1 col-xs-1 col-xs-offset-1" ng-repeat ="card in ennemyBattlefield track by $index">
                    <card-played-image carte="card" img='card' draggable="false" ></card-played-image>
                    <button class="btn btn-default btn-xs btn-block" ng-if='mainPlayerAction' basic-click='attack(card)'>attack</button>
                </div>
            </div>


            <div class= "row terrain">
                <div class="cardplayed col-md-1 col-md-offset-1 col-xs-1 col-xs-offset-1" ng-repeat ="card in ourBattlefield track by $index" basic-click='cardActivate(card,$event)'>
                    <card-played-image carte="card" img='card' draggable="false" ></card-played-image>
                </div>
            </div>
        </div> <!--  /.board -->


        <div class="deckGame" ng-repeat= "deck in decks" id={{deck.id}} style="top:{{deck.top}}%;" >
            <img src="{{deck.img}}" class="deck-image"  draggable="false" >
            <div class="hp">{{deck.hp}}</div>

            <div class='decknumber' pioche>
                <center><b>{{deck.cardleft}}</b></center>
            </div> 
        </div> <!--  /.deckGame  -->

        <div ng-if="current_player == 'me' && cardSelected && ennemyBattlefield.length == 0">
            <button ng-click="attack_opponent();"> Attaquer l'adversaire </button>
        </div>

        <div class='actionTurn'>
            <button class="btn btn-default btn-xs btn-block" ng-click="finish_turn();">Passer</button>
        </div> 



        <!-- ici on a la main-->
        <div class='row hand'>
            <div class="carte" ng-repeat= "card in playablecard" id="{{card.key}}" card-playing index="{{$index}}" emit-last-repeater-element>
                <card carte="card" class="card-image" draggable="false" ></card> 
            </div>  
        </div>

    </div> <!-- /.mainAdverse row -->
</div>