<div>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="inner cover">
          <h6 class="cover-heading">League of Stones</h6></br></br>
          <h4>Dans ce projet, il est question de développer un mashup (mélange) de deux jeux vidéos. En
          utilisant le système de jeu de Hearthstone (HS) 1 développé par Blizzard™ nous intégrerons les
          données ouvertes du jeu League Of Legends (LoL) 2 développé par Riot Games™. Ce projet
          s’intitule "League of Stones" et il propose un jeu de cartes dont les cartes proviennent de LoL.
          </h4></br>

          <div class="row">
              <div class="container col-md-4 col-sm-4 col-xs-4 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                <div class="card" ng-class="{active: show_card}" >
                      <div class="face back">
                        <a href="#" data-toggle="modal" data-target="#signin-modal"><img ng-src="img/card_connect.png" class="img-responsive" /></a>
                      </div>

                      <div class="face front">
                          <img src='img/card_back.png' class="img-responsive" />
                      </div>
                  </div>
              </div>

              <div class="container col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                <div class="card" ng-class="{active: show_card}" >
                      <div class="face back">
                        <a href="#" data-toggle="modal" data-target="#signup-modal"><img ng-src="img/card_subscribe.png" class="img-responsive" /></a>
                      </div>

                      <div class="face front">
                          <img src='img/card_back.png' class="img-responsive" />
                      </div>
                  </div>
              </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>