<div ng-if="messages.error.hasOne"> <!-- ng-if prevents fade out animation, but can be reuse. Alternative is ng-show -->
    <div class="span4 pull-right">
      <div id="alert-redirected" class="alert alert-danger fade in">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>{{messages.error.title}}: </strong>{{messages.error.message}}&nbsp;
      </div>
    </div>
</div>